<!DOCTYPE html>
<html lang="en" ng-app="studentRoster">
    <head>
        <meta charset="UTF-8">
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="services/StudentsFactory.js"></script>
        <script src="controllers/FieldTripsController.js"></script>
        <script src="controllers/StudentsController.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <title>Field Trip Permission</title>
    </head>
    <body>
      <div class="container">
        <div ng-controller="StudentsCtrl">
          <div class="row" ng-show="students.length">
            <div class="col-md-12">
              <h4>Search Students</h4>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input ng-model="query.name" type="text" class="form-control" id="student-name" placeholder="Search">
                </div>
                <div class="form-group">
                    <h4>Search By Teacher:</h4>
                    <select ng-model="query.teacher">
                        <option value="">--</option>
                        <option value="Mr. Green">Mr. Green</option>
                        <option value="Mrs. Blue">Mrs. Blue</option>
                    </select>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2 ng-show="students.length && filtered.length">Student List</h2>
              <h2 ng-show="students.length && !filtered.length">No Matches</h2>
              <table class="table table-bordered" ng-show="students.length">
                      <td>Student Name</td>
                      <td>Teacher</td>
                      <td>Permission Slip Received</td>
                      <td>Delete Student?</td>
                <tr ng-repeat="item in filtered = (students | filter:query)">

                    <td><span ng-click="editing = true" ng-hide="editing">
                        {{item.name}}</span>
                        <span class="form-group" ng-show="editing" ng-submit="editing = false">
                            <form class="form-inline" role="form">
                                <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                                <button class="btn btn-default btn-sm" type="submit">Save</button>
                            </form>
                        </span>
                    </td>
                    <td>{{item.teacher}}</td>
                    <td><span ng-show="item.permissionSlip"><span class="glyphicon glyphicon-ok"></span></span></td>
                    <td><a ng-click="deleteStudent(item)">Delete</a></td>

                  <!-- <span class="form-group" ng-show="editing" ng-submit="editing = false">
                    <form class="form-inline" role="form">
                      <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                      <button class="btn btn-default btn-sm" type="submit">Save</button>
                    </form>
                  </span> -->
              </tr>
            </table>
            </div>
            <div class="col-md-6">
              <h2>New Student</h2>
              <form ng-submit="addStudent()" class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" ng-model="studentName" class="form-control" id="student-name" placeholder="Enter name" autofocus required>
                </div>
                <div class="form-group">
                    <select ng-model="studentTeacher" required>
                        <option value="Mr. Green">Mr. Green</option>
                        <option value="Mrs. Blue">Mrs. Blue</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
       <div class="row permission" ng-controller="FieldTripsCtrl">
          <div class="col-md-6" ng-show="studentsWithoutPermission.length">
            <h4>Without Permission Slips</h4>
            <ul>
              <li ng-repeat="item in studentsWithoutPermission = (students | filter:{permissionSlip: false})">
                {{item.name}} <a ng-click="addStudentWithPermissionSlip(item)">--received permission slip--</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6" ng-show="studentsWithPermission.length">
              <h4>With Permission Slips</h4>
              <ul>
                  <li ng-repeat="item in studentsWithPermission = (students | filter:{permissionSlip: true})">
                      {{item.name}}
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </body>
</html>
